body {
  font-family: "Roboto Condensed", sans-serif;
}

.entireapp {
  display: flex;
}
section {
  background-image: linear-gradient(to right, #ff5722, #ff9800);
  width: 70vw;
  height: 100vh;
  background-size: cover;
}

.aside {
  background: url("https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  width: 50%;
  left: 50%;
}

.textaside {
  font-family: "Rock Salt", cursive;
  text-align: center;
  color: rgba(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 20px;
  width: 30vw;
}

.container {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 340px;
}

.login-form {
  position: relative;
  box-sizing: border-box;
  padding: 60px 30px;
  transition: 0.5s;
}

.login-form:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.login-form input,
.loginbutton {
  display: block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
}

.loginbutton {
  text-transform: uppercase;
  color: #ff9800;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  background: #3300ff;
}

.loginbutton:hover {
  background: #22fff8;
  color: #3300ff;
}
.login-form input::placeholder {
  color: #3300ff;
  text-transform: uppercase;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

h1:hover {
  background: rgba(255, 255, 255, 0.01);
  border-bottom: 3px solid #3300ff;
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
@media (max-width: 1000px) {
  .entireapp {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .aside {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
  .textaside {
    top: 2%;
    left: 1%;
    width: 100%;
  }

  /* .aside {
    background: #22fff8;
    width: 50%;
    left: 50%;
  }
  
  .textaside {
    font-family: "Rock Salt", cursive;
    text-align: center;
    color: rgba(255, 255, 255, 15);
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 20px;
    background: #ff5722;
    width: 30vw;
  }
   */
  section {
    width: 100%;
    height: 70vh;
  }
  .container {
    left: 50%;
    top: 65%;
  }
  .login-form {
    margin-top: 25%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .container {
    left: 70%;
    top: 35%;
  }
  .textaside {
    top: 30%;
    left: 1%;
  }
  section {
    width: 50vw;
    height: 100vh;
  }
}
