.components {
  margin: 0 auto;
  background: rgb(224, 224, 224);
  height: 100vh;
}

@media (min-width: 1000px) {
  .components {
    height: 100vh;
  }
}

@media (max-width: 500px) {
  .components {
    height: 100%;
  }
}
