p {
  text-align: left;
}

#book {
  width: 20px;
}

#bookimage {
  width: 60px;
  height: 60px;
  float: right;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

@media (max-width: 1000px) {
  #book {
    display: none;
  }
}
