p {
  text-align: left;
}

#book {
  width: 20px;
}

.imageContainer {
  width: 130px;
  height: 130px;
  background: white;
}

#bookimage {
  width: 100%;
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}
